body{
	font-family: 'Open Sans',sans-serif;
	background-color: pink;
}
#container{
	width: 1000px;
	height: 550px;
	margin: 20px auto;	
}
#calculator{
	width: 300px;
	height: 500px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 15px;
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator {
    background-color: #9477af;
}
.operator, .number {
	width: 50px;
	height: 50px;
	margin: 12px;
    color: green;
	float: left;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number {
	background-color: #9477af;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus {
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #9477af;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #9477af;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #9477af;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #9477af;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}